body{background-color:#d9b382; align-items: center;  display: flex;
    flex-direction: column;}
#user-choice{
    background-color: white;
    height: 100px;
    width: 20vh;
    border-radius: 5%;
    border: 2px solid black;
    color: black;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 50px;
    cursor: pointer;
    text-wrap: wrap;
}
#user-choice:hover{
    background-color:#d9b382;
    scale: 1.5;
    color: black;
    font-weight: bold;
    font-size: large;
}
.circle {height: 30px; width: 30px; background-color: #d9b382; border: #d9b382 solid 1px; outline: none; border-radius: 50%; cursor: -webkit-grab; cursor: grab; margin-top: 5px;}
.circleInstructions {height: 24px; width: 24px; outline: none; border-radius: 50%;}
.levelbutton {background-color: white; height: 3vh; width: 3vh; outline: none; border-radius: 50%;}
#levelpanel {position: fixed; margin-left: 15%; margin-top: 50% ;opacity: 1; transition: opacity 3s ease;}
#levelpanel:hover {opacity: 0.5;}

#chessboard {
                width: 84px;
                height: 84px;
                margin: 20px;
                border: 4px solid #333;
            }
            
#picboard {
                width: 84px;
                height: 84px;
                border: 4px solid #333;
            }
            
.beige		{
                float: left;
                width: 40px;
                height: 40px;
                background-color: #d9b382;
                text-align:center;
                display: table-cell;
                vertical-align:middle;
                border: 1px black solid;
            }
            
#bywhatboard {
                width: 28px;
                height: 28px;
                border: 1px solid white;
            }						
.bywhatbeige{
                float: left;
                width: 12px;
                height: 12px;
                background-color: #d9b382;
                text-align:center;
                display: table-cell;
                vertical-align:middle;
                border: 1px black solid;
            }
.bywhatcircle {height: 9px; width: 9px; background-color: #d9b382; border: #d9b382 solid 1px; outline: none; border-radius: 50%; cursor: -webkit-grab; cursor: grab; margin-top: 0.5px; margin-left: 0.5px;}						
#bar{
    bottom: 0% ;
    position: fixed;
    background-color: rgb(87, 87, 87);
    opacity: 0.5;
    color: white;
    width: 100%;
    height: 15%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
}

#bar:hover{
    opacity: 1;
}

#bar img{
    margin-top:20px;
    margin-bottom: 2%;
    margin-left: 1%;
    
    width:10vh;
    height: 10vh;
}

#bar img:hover{
   transform: scale(1.1);
   transition: transform 0.3s ease-in-out;
}

#bar label{
    top: 0px;
    position: absolute;
}

@media screen and (max-width: 700px) {
    button {
        font-size: 25px;
        height: 80px;
    }  
    #button-container {
        flex-direction: column;
    } 
    .beige{
        float: left;
        width: 80px;
        height: 80px;
        background-color: #d9b382; 
        text-align:center;
        display: table-cell;
        vertical-align:middle;
        border: 1px black solid;
    }	
    #gameframe{
        flex-direction: column;
        align-items: center;
        margin-left: 108vh
    }
    #user-choice{
        font-size: x-large;;
    }
    #replace{
        font-size: xx-large;
        width: 20vh;
        align-items: center;
        justify-content: center;
    }
    .circle{
        height:60px;
        width:60px;
    }
    

}

@media screen and (max-width: 800px) {
    button {
        font-size: 25px;
        height: 80px;
    }  
    #button-container {
        flex-direction: column;
    } 
    .beige{
        float: left;
        width: 80px;
        height: 80px;
        background-color: #d9b382; 
        text-align:center;
        display: table-cell;
        vertical-align:middle;
        border: 1px black solid;
    }	
    #gameframe{
        flex-direction: column;
        align-items: center;
        margin-left: 108vh
    }
    #user-choice{
        font-size: x-large;;
    }
    #replace{
        font-size: xx-large;
        width: 20vh;
        align-items: center;
        justify-content: center;
    }
    .circle{
        height:60px;
        width:60px;
    }
    

}
@media screen and (max-width: 1100px) {
    button {
        font-size: 100px;
        height: 80px;
    }  
    #button-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 5vh ;
        padding-bottom: 20%;
    } 
    #gameframe{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 5vh;
        height: 20vh;
        padding-top: 10vh;
    }
    #user-choice{
        font-size: xx-large;;
    }
    label{
        font-size: 50px;
    }
    #replace{
        font-size: xx-large;
        width: 20vh;
        align-items: center;
        justify-content: center;
    }
    #thepictureforimitation{
        font-size: xx-large;
        width: 20vh;
        align-items: center;
        justify-content: center;

    }
    #instructionsleft{
        font-size: 100%;
        width: 100%;
        font-weight: bold   ;
        /* align-items: center; */
        /* justify-content: center; */
    }
    #instructionsright{
        font-size: 100%;
        width: 100%;
        font-weight: bold   ;
        align-items: center ;
        justify-content: center;
        max-height: calc(100vh - 15%); /* Prevent it from exceeding the viewport height minus the bar */
        overflow-y: auto;
    }
    #chessboard {
                width: 200px;
                height: 200px;
                margin: 20px;
                border: 4px solid #333;
    }
    #picboard {
                width: 200px;
                height: 200px;
                border: 4px solid #333;
    }
    .circle{
        height:60px;
        width:60px;
    }
    .beige		{
                float: left;
                width: 80px;
                height: 80px;
                background-color: #d9b382;
                text-align:center;
                display: table-cell;
                vertical-align:middle;
                border: 1px black solid;
            }	
    .circleInstructions {
        height: 60px;
        width: 60px;
        outline: none;
        border-radius: 50%;
    }
}